{% extends 'advice/base.html' %}
{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8"><br>
            <div>
                <form class="form-inline">
                    <input class="form-control mr-sm-2" name="q" type="text" placeholder="Search by category">
                    <button class="btn btn-success" type="submit">Search</button>
                  </form>
            </div><br>
            {%for post in posts %}
            <blockquote class="quote-card" style="width: 600px;">
              <div class="card text-center">
                <div class="card-header">Category:
                  {{ post.category }}
                </div>
                <div class="card-body">
                  
                  <p class="card-text">{{ post.content }}</p>
                  
                </div>
                <div class="card-footer text-muted">
                  {{ post.date_posted }}
                </div>
              </div>
        
             
              <p>
                
               
                <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseComments{{post.id}}" aria-expanded="false" aria-controls="collapseComments">
                  view Comments
                </button>
              </p>
              
              <div class="collapse" id="collapseComments{{post.id}}">
                <div class="card card-body">
                  <ul class="list-group">

                  {% for comment in comments %}
                  
                  <li class="list-group-item"> {{comment.text }}</li>

                 
                  
                
                  {%endfor%}
                </ul>

                </div>
              </div>
            </blockquote>
            {%endfor%}

        </div>
        <div class="col-md-2"></div>
    </div>
</div>
{% endblock content %}