{% block navbar %}
<nav class="navbar navbar-expand-sm bg-success">

    
    <ul class="navbar-nav">
      {% if user.is_authenticated %}
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home-view' %}">HOME</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'home-view' %}">FORUM</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'post-question' %}">POST</a>
      </li>
      
      <li class="nav-item">
        <a class="nav-link" href="{% url 'logout' %}">LOGOUT</a>
      </li>
      {% else %}
      <li class="nav-item">
        <a class="nav-link" href="{% url 'register' %}">REGISTER</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'login' %}">LOGIN</a>
      </li>
      {% endif %}
    </ul>
  
  </nav>
{% endblock navbar %}