{% extends 'advice/base.html' %}
{% load crispy_forms_tags %}
<!-- {%load static %} -->

{% block content %}
<h1>Registration Form.</h1>
<div class="content">
    <section>
        <div class="register-wrapper">
            <div class="register-block">
                <h3 class="register-title">Create an account</h3>
                <form action="" method="POST">
                    {% csrf_token %}
                    {{form | crispy }}
                    
                    <input type="submit" value="Create my account"/>
                </form>
            </div>
        </div>
    </section>
                
</div>

{% endblock content %}